.card {
    width: 100%;
    background: @white-footer;

}

.card__container {
    @media @desktop-size {
        width: 92%;
        margin: 0 auto;
        max-width: 1170px;

        font-size: 0;
    }
}

.card--second-menu {
    display: none;

    @media @desktop-size {
        display: block;
        background: linear-gradient(to bottom, #ededed, #f6f6f6);
    }
}

.card__title {
    display: block;
    width: 92%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;

    line-height: 70px;

    @media @tablet-size {
        width: 81%;
        padding-left: 0;

        //line-height: 30px;

    }
    @media @desktop-size {
        width: 92%;
        max-width: 1170px;
        padding-left: 0;
        margin: 0;
        margin-bottom: 40px;

    }
}

.card--title-gradient {
    background: linear-gradient(to bottom, #ededed, #f6f6f6);

    @media @desktop-size {
        background: transparent;
    }
}

.card__title h2 {
    position: relative;

    display: inline-block;
    font-family: "Geometria Bold", Arial, sans-serif;
    font-size: 30px;
    line-height: normal;

    color: @black;

    &::after {
        position: absolute;
        bottom: -17px;
        left: 0;

        display: block;
        width: 75px;
        height: 2px;

        background: @blue;

        content: '';

        @media @tablet-size {
            bottom: -39px;
            //margin: 0;
            //padding: 0;
        }
        @media @desktop-size {
            bottom: -35px;
        }
    }

    @media @tablet-size {
        font-size: 48px;
        line-height: 20px;

    }
    @media @desktop-size {
        font-size: 52px;
        line-height: 38px;

    }
}

/////////////// slider

.card__slider {
    width: 92%;
    margin: 0 auto;
    padding-top: 24px;

    @media @tablet-size {
        width: 85%;
        padding-left: 0;
        padding-top: 31px;

    }
    @media @desktop-size {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        width: 56%;
        max-width: 1170px;
        padding-left: 0;
        padding-top: 0;
        padding-right: 7%;
        //.outline(green);

    }
}

.card__slider-item {
    width: 100%;
    height: 375px;

    overflow: hidden;
    text-align: center;
    line-height:375px;

    background: #d9d9d9;

    @media @tablet-size {
    }
    @media @desktop-size {
        height: 490px;
        line-height:490px;

    }
}

.card__slider-img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    //display: block;
    width: auto;
    height: 375px;
    margin: 0 auto;

    @media @desktop-size {
        margin: 0;
        height: 490px;
    }
}

//img.card__slider-img::after{
//    position: absolute;
//    top:0;
//    left:0;
//    width:40px;
//    height:40px;
//    background: gray;
//    content: 'privet';
//    font-size:40px;
//    z-index: 999;
//    color: red;
//}
.card__slider-list {
    //position: relative;

    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }

    //.outline(green);
}

/////////////// my arrows
.card__slider-list::before {
    position: absolute;
    z-index: 59;
    top: 40%;
    left: 10%;

    width: 72px;
    height: 72px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    opacity: 0.5;

    content: "";

    transform: rotate(315deg);
    //@media @tablet-size {
    //    top: 35%;
    //    left: 15%;
    //}
    //@media @desktop-size {
    //    top: 35%;
    //    left: 25%;
    //    opacity: 1;
    //}
}

.card__slider-list::after {
    position: absolute;
    z-index: 59;
    top: 40%;
    //right: 36px;
    right: 10%;

    width: 72px;
    height: 72px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    opacity: 0.5;

    content: "";

    transform: rotate(135deg);
    //@media @tablet-size {
    //    top: 35%;
    //    right: 15%;
    //}
    //@media @desktop-size {
    //    top: 35%;
    //    right: 25%;
    //    opacity: 1;
    //}

}

.card__slider-list .slick-arrow {
    position: absolute;
    top: 0;

    width: 17%;
    border: 0;

    background: transparent;
    font-size: 0;
    cursor: pointer;

    //.outline(red);
    height: 100%;
    z-index: 99;
    @media @tablet-size {
        width: 17%;
    }
    @media @desktop-size {
        width: 30%;
    }

}

.slick-slide img{
    display: inline-block;
}

.card__slider-list .slick-arrow:focus {
    border: 0;
    outline: 0;
}

.card__slider-list .slick-prev {
    left: 0;
}

.card__slider-list .slick-next {
    right: 0;
}

.card__price-and-descript-container {
    @media @tablet-size {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        //.outline(blue);
        width: 81%;
        //margin: 0;
        margin: 0 auto;
        //text-align: left;
    }
    @media @desktop-size {
        display: inline-block;

        vertical-align: top;
        text-align: left;

        width: 37%;
        margin: 0;
        padding: 0;
    }

}

.card__price-but {
    padding-top: 27px;
    padding-bottom: 40px;
    width: auto;
    max-width: 230px;
    margin: 0 auto;
    //padding-left:53px;

    font-family: "Geometria Regular", Arial, sans-serif;
    font-size: 40px;
    text-align: center;

    color: @black;

    @media @tablet-size {
        //float: right;
        width: 40%;
        padding-left: 4%;
        margin: 0;
        //.outline(green);
    }
    @media @desktop-size {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }
}

.card__price {
    display: inline-block;
    padding-right: 43px;
    padding-bottom: 6px;
    position: relative;
    &::before {
        position: absolute;

        margin: 0;
        right: 0px;
        bottom: 12px;

        padding: 0;
        width: 33px;
        height: 33px;

        border-radius: 33px;
        border: 0;

        font-size: 24px;
        line-height: 33px;
        vertical-align: bottom;
        font-family: "ALS Rubl", Arial, sans-serif;

        background: @blue url(../img/rub.svg) 10px 6px no-repeat;
        color: @white;

        content: '';

    }

    @media print{
        &::before {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
            -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
            color-adjust: exact !important;                 /*Firefox*/

            position: absolute;

            margin: 0;
            right: 0px;
            bottom: 12px;

            padding: 0;
            width: 33px;
            height: 33px;

            border-radius: 33px;
            border: 0;

            font-size: 24px;
            line-height: 33px;
            vertical-align: bottom;
            font-family: "ALS Rubl", Arial, sans-serif;

            background: @blue url(../img/rub.svg) 10px 6px no-repeat;
            color: @white;

            content: '';

        }

    }
}

.card__but {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    width: 220px;
    height: 49px;
    //padding:10px 132px;
    //margin:20px;
}
.card__but-request{
    @media print{
        display: none;
    }
}
.card__descript {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 31px;
    border-top: 1px solid @gray4;

    color: @black;

    @media @tablet-size {
        //float: left;
        width: 60%;
        border-top: 0;
        padding-top: 30px;
        //padding-left: 10%;
        //.outline(red);

    }
    @media @desktop-size {
        display: block;
        width: 100%;
    }

    //.clearfix();
}

.card__descript-container {
    width: 92%;
    margin: 0 auto;

    text-align: left;
    font-size: 16px;

    @media @tablet-size {
        padding-right: 10%;
        border-right: 1px solid @lite-gray7;
        //padding-right: ;
        margin: 0;
    }
    @media @desktop-size {
        width: 100%;
        border-right: 0;
        border: 0;
        margin: 0;
        padding: 0;

    }

}

.card__desript-header {
    padding: 0;
    margin: 0;
    font-family: "Geometria Bold", Arial, sans-serif;
    font-size: 30px;
}

p.card__descript-text {
    padding: 0;
    margin: 0;
    font-family: "Geometria Regular", Arial, sans-serif;
    font-size: 16px;
    @media @desktop-size {
        font-size: 16px;
    }
}

.card__map {
    width: 92%;
    margin: 0 auto;
    padding-bottom: 35px;

    color: @black;

    @media @tablet-size {
        width: 81%;
        margin: 0 auto;
        padding-bottom: 43px;
    }
    @media @desktop-size {
        display: block;
        text-align: left;
        width: 59%;
        //max-width: 1170px;
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 75px;
        padding-right: 4%;
        margin: 0;

    }
}

.card__map-header {
    display: block;
    padding-bottom: 28px;
    margin: 0;
    font-family: "Geometria Bold", Arial, sans-serif;
    font-size: 30px;

}

.card__map-location {
    width: 100%;
    height: 330px;

    overflow: hidden;
}

.card__map-location img {
    width: 100%;
    height: auto;
}
