@small-mobile-size: ~"(max-width: 380px)";
@mobile-size: ~"(min-width: 480px)";
@tablet-size: ~"(min-width: 768px)";
@desktop-size: ~"(min-width: 1170px)";

@blue: #1b35a4;
@blue_underline: #1f44e1;
@gray: #2e2e2c;
@white: #ffffff;
@white-footer: #f6f6f6;
@black: #1a1a1a;
@black-footer: #0c0c0c;


