.container(){
    width: auto;
    min-width:320px;
    margin: 0 auto;

    @media @tablet-size {
        width: 92%;
    }

    @media @desktop-size {
        width: 92%;
        max-width: 1170px;
    }
}

.container-full(){
    width: auto;
    min-width:320px;
    margin: 0 auto;
}

.visually-hidden(){
    position: absolute;

    width:1px;
    height:1px;
    margin:-1px;
    padding:0;

    border: 0;

    clip: rect(0,0,0,0);
    overflow: hidden;
}
.clearfix(){
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

.outline(@color){
    outline: 1px solid @color;
}

.hidden{
    display: none;
}
.container{
    .container();
}
.container-full{
    .container-full();
}



