.sort {
    padding-left: 4%;
    padding-top: 23px;
    padding-bottom: 23px;
    border-bottom: 4px solid @blue;

    font-size: 0;
    text-align: left;

    background: #f6f6f6;

    color: @black;
    @media @tablet-size {
        padding-left: 0;
    }
    @media @desktop-size {
        padding-bottom: 8px;
    }
    @media print{
        display: none;
    }
}

.sort > .container {
    @media @tablet-size {
        width: 83%;
    }
    @media @desktop-size{
        width: 92%;
    }
}

.sort__by {
    display: inline-block;
    width: 39%;
    padding-top:5px;

    vertical-align: top;

    font-family: "Geometria Medium", Arial, sans-serif;
    font-size: 16px;

    color: @black;

    @media @tablet-size {
        width: 29%;
    }
    @media @desktop-size {
        display: none;
    }
}

.sort__categories {
    display: inline-block;
    width: 61%;
    margin: 0;
    padding: 0;

    vertical-align: top;
    list-style: none;

    @media @mobile-size480max {
        display: none;
        width: 60%;
    }
    @media @mobile-size320{
        display: none;
    }
    @media @tablet-size {
        //display: inline-flex;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-start;
        width: 60%;
    }
    @media @desktop-size {
        display: inline-block;
        width: 96%;
        justify-content: flex-start;
    }

}

.sort__categories li {
    display: inline-block;
    line-height: 35px;
    vertical-align: top;
    width: 49%;
    @media @tablet-size {
        width: auto;
    }
    @media @mobile-size480max {
        display: block;
    }
}

.sort__categories span {
    position: relative;

    display: inline-block;

    font-family: "Geometria Medium", Arial, sans-serif;
    font-size: 16px;
    vertical-align: top;
    line-height: normal;

    cursor: pointer;

    color: @blue;

    &::after {
        position: absolute;
        right: -18px;
        top: 10px;

        width: 9px;
        height: 9px;
        border-left: 1px solid @blue;
        border-top: 1px solid @blue;
        transform: rotate(45deg);
        content: '';

        @media @desktop-size {
            border-left: 1px solid @black;
            border-top: 1px solid @black;
        }
    }

    @media @desktop-size {
        color: @black;
    }
}

.sort__categories span.sort--arrow-down {
    &::after {
        position: absolute;
        right: -18px;
        top: 4px;
        z-index: 99;

        width: 9px;
        height: 9px;
        border-left: 1px solid @blue;
        border-top: 1px solid @blue;
        transform: rotate(225deg);
        content: '';
        @media @desktop-size {
            border-left: 1px solid @black;
            border-top: 1px solid @black;
        }
    }
}

.sort__categories li.sort__object {
    @media @desktop-size {
        width: 20%;
    }
}

.sort__categories li.sort__adress {
    @media @desktop-size {
        width: 45%;
    }
}

.sort__categories li.sort__deal {
    @media @desktop-size {
        width: 14%;
    }
}

.sort__categories li.sort__price {
    @media @desktop-size {
        width: 10%;
    }
}

////////////////// SELECT ////////////////////////

.sort__form{
    position: relative;

    display: inline-block;
    vertical-align: top;
    width:59%;
    padding-left:5px;

    @media @desktop-size{
        display: none;
    }

    &::after{
        position: absolute;
        left: 165px;
        top: 7px;
        z-index: 99;

        width: 9px;
        height: 9px;
        border-left: 1px solid @blue;
        border-top: 1px solid @blue;
        transform: rotate(225deg);
        content: '';
        @media @desktop-size {
            border-left: 1px solid @black;
            border-top: 1px solid @black;
        }
    }
}
.sort__select{
    width:150px;
    height:30px;

    font-size:16px;
    color: #000;
}

.sort__select option{
}
