@import "normalize.less";

@import "defs.less";
@import "mixins.less";
@import "fonts.less";

@import "main-header.less";
@import url("but.less");
@import "main-menu.less";
@import "social-but.less";
@import "second-menu.less";
@import "catalog-nav.less";
@import "main-footer.less";
@import "footer-menu.less";
@import "catalog-nav-mini.less";
@import "filters.less";
@import "sort.less";
@import "offers.less";
@import "card.less";

body{
    font-size:18px;
    font-family: "Geometria Regular", Arial, sans-serif;
    color: @white;
    font-style: normal;

    background-color: #ff0;
}
