@import url("normalize.less");

@import url("defs.less");
@import url("mixins.less");
@import url("fonts.less");

@import url("blocks/test.less");

body{
    font-size:18px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #4d4a49;
    font-style: normal;

    background-color: #fff;
}
