@import url("normalize.less");

@import url("defs.less");
@import url("mixins.less");
@import url("fonts.less");

@import url("main-header.less");
@import url("but.less");
@import url("main-menu.less");
@import url("social-but.less");
@import url("second-menu.less");
@import url("catalog-nav.less");
@import url("main-footer.less");
@import url("footer-menu.less");
@import url("catalog-nav-mini.less");
@import url("filters.less");
@import url("sort.less");
@import url("offers.less");
@import url("card.less");

body{
    font-size:18px;
    font-family: "Geometria Regular", Arial, sans-serif;
    color: @white;
    font-style: normal;

    background-color: #fff;
}
